{% extends 'plans/base.html' %}
{% block content %}

<div class="  text-center jumbotron container-fluid">
  <h1 class="display-4">Nick Fitness</h1>
  <p class="lead">Fitness Is Fun</p>
  <a href="{% url 'join' %}"><button type="button" class="btn btn-lg btn-primary">Get Premium</button></a>
</div>

<div class="container">
  
    <h3>Trending Articles</h3>



      <div class="row">
        
          {% for plan in plans.all %}
          <div class="col-sm-6" style="margin-top: 10px">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ plan.title }}</h5>
                
                <a href="{% url 'plan' plan.id %}" class="btn btn-primary">Read More </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

</div>
  


        
{% endblock %}
